@model Student
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <h2>Name: @Model.Name</h2>
    <h2>Surname: @Model.Surname</h2>
    <h2>Group: @Model.Group</h2>
</body>
</html>
