
@model List<Student>
@{
    ViewData["title"] = "index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
  <h1>Students:</h1>
  <ul>
      @foreach (var item in Model)
        {
            <li>@item.Name @item.Surname @item.Group</li>
          
        }
  </ul>
</body>
</html>
